<br><hr class="strong-fade"><hr class="fade"><title>motd</title>
<center><h2><i>Muse of The Day</i></h2></center>
<hr class="fade"><hr class="strong-fade">
<center><a href="/page1"><i>Zen Now</i></a></center>
