// Place all the styles related to the motd controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Serenity : #92A8D1
// Rose Quartz : #F7CAC9
body {
   height: 100%;
  background: -webkit-linear-gradient(267deg, #92A8D1 13%, #F7CAC9 80%);
  background:    -moz-linear-gradient(267deg, #92A8D1 13%, #F7CAC9 80%);
  background:     -ms-linear-gradient(267deg, #92A8D1 13%, #F7CAC9 80%);
  background:      -o-linear-gradient(267deg, #92A8D1 13%, #F7CAC9 80%);
  background:         linear-gradient(267deg, #92A8D1 13%, #F7CAC9 80%);


              //  background-color: lightblue;
              //  background-color: #92A8D1; // serenity // // #89ABE3 secondary
  // background-color: #f8d4d3; // #F7CAC9; // rose quartz // #F2DDDE secondary
  //             //  background-color: #c9f6f7; // #c9f6f7 complementary
  //
  //              background-image:
  //              radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
  //              radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
  //              radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
  //              radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  //              background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  //              background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;


 //  font-family: 'Lato', sans-serif;
 font-family: 'Dosis', sans-serif;
 // font-family: 'Cutive', serif;



}

h4.cutive {
  font-family: 'Cutive', serif;
}

h2.dosis {
// font-family: 'Lato', sans-serif;
font-family: 'Dosis', sans-serif;

}



// body { padding-top: 10px; }
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: underline; }
a:active { text-decoration: underline; }

/* Gradient transparent - color - transparent */
hr.fade {
  border: 0; height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); }

/* Gradient color1 - color2 - color1 */
hr.strong-fade {
  border: 0; height: .5px;
  background: #333; background-image: linear-gradient(to right, #ccc, #333, #ccc); }

/* Ornate hr tag ~fin~ */
hr.fin {
	border-top: 1px solid #8c8b8b;
	text-align: center;
}
hr.fin:after {
	content: '§';
	display: inline-block;
	position: relative;
	top: -14px;
	padding: 0 10px;
	background: #f0f0f0;
	color: #8c8b8b;
	font-size: 18px;
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	transform: rotate(60deg);
}
