// Place all the styles related to the motd controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 2016 Pantone colors of the year
// Serenity : #92A8D1
// Rose Quartz : #F7CAC9
body {
  padding-top: 10px;
  height: 100%;
  background: -webkit-linear-gradient(267deg, #92A8D1 13%, #F7CAC9 80%);
  background:    -moz-linear-gradient(267deg, #92A8D1 13%, #F7CAC9 80%);
  background:     -ms-linear-gradient(267deg, #92A8D1 13%, #F7CAC9 80%);
  background:      -o-linear-gradient(267deg, #92A8D1 13%, #F7CAC9 80%);
  background:         linear-gradient(267deg, #92A8D1 13%, #F7CAC9 80%);

 font-family: 'Dosis', sans-serif;
 font-size: 1.3em;
}

h4.cutive {
  font-family: 'Cutive', serif;
}

h2.dosis {
font-family: 'Dosis', sans-serif;
}

h3.lato {
font-family: 'Lato', sans-serif;
}


a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: underline; }
a:active { text-decoration: underline; }


/* Gradient transparent - color - transparent */

hr.fade19w {
  border: 0; height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  width: 19%;
  max-width: 750px;
}

hr.fade35w {
  border: 0; height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  width: 35%;
  max-width: 750px;
}

hr.fade50w {
  border: 0; height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  width: 50%;
  max-width: 750px;
}


hr.fade {
  border: 0; height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  width: 80%;
 	max-width: 750px;
 }



/* Gradient color1 - color2 - color1 */
hr.strong-fade {
  border: 0; height: .5px;
  background: #333; background-image: linear-gradient(to right, #ccc, #333, #ccc); }


/*  Zip Code and Submit asthetics  */
$white_opaque: rgba(197, 197, 197, .4);
$dark: #dcc6c6; // #d0b3b3; // #eedad9; // #e7d9d9; // #cfb1b0; // #deb5b4;
$darktext: #1F7972;
$darkertext: #36445a;

input[type="text"], textarea {
 width: 6%;
 margin: .5em 2.7% 1em 0;
 display: inline-block;
 outline: none;
 background: rgba(235,230,230,.3);
 border: none;
 height: 20px;
 border-radius: 3.5px;
 padding: .3em .3em;
 text-align: center;
 color: $darkertext;
}

input[type="submit"] {
 background: rgba(225,225,225,.3);
 outline: none;
 border: none;
 height: 26px;
 border-radius: 3.5px;
 width: 9%;
 display: inline-block;
 transition: all .3s ease-in-out;
 cursor: pointer;
 color: $darktext;
 text-align: center;
 &:hover {
   background: $dark;
  //  color: white;
 }
}
